.showed {
  width: 200px;
  height: 30px;
  background-color: teal;
}
.def {
  width: 100px;
  height: 20px;
  background-color: pink;
}
.switch-cell {
  display: flex;
  justify-content: center;
}
.switch-but {
  position: relative;

  width: 45px;
  height: 22px;
  border-radius: 11px;
  background-color: #b4d3fc;
}
.switch-but .in {
  position: relative;
  top: 1px;
  left: 1px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  background-color: #fff;
}

.false .switch-but {
  background-color: #ddd;
}
.false .switch-but .in {
  left: 24px;

  background-color: #fff;
}
